<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field hideRequiredMarker="options.value.hideRequired" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field hideRequiredMarker="options.value.hideRequired" appearance="fill">
        <mat-label>Content</mat-label>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"> Post</button>
  </form>
</mat-card>
